@import url(../styles/variables.css);

body {
  background-image: url(../assets/dnd-detailsBackground.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body::before {
  content: "";
  position: fixed; /* o absolute si prefieres */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* nivel de oscuridad */
  z-index: -1; /* debajo del contenido */
}
.headerDetails {
  margin-bottom: 1rem;
  text-align: center;
}

.headerDetails a {
  text-decoration: none;
  color: var(--color-3);
  width: 200px;
  height: 30px;
  font-family: "Montserrat-SemiBold";
  background-color: var(--color-2);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.headerDetails a:hover {
  background-color: #a71818;
}
.headerDetails img{
  max-width: 600px;
  width: 90%;
}
main{
}



/*AREA DE LA CARTA DONDE SE MUESTRA INFORMACION RELACIONADA AL PERSONAJE EN ESPECIFICO*/
.card {
  background-image: url(../assets/card-board-game-dnd.webp);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  border-radius: 60px;
  max-width: 700px;
  width: 90%;
  height: auto;
  margin: 0 auto;
  color: var(--color-3);
  text-align: center;
  border: 5px solid var(--color-1);
  box-shadow: 30px 34px 20px rgba(0, 0, 0, 1);
  margin-bottom: 3rem;
  position: relative; 
  overflow: hidden;  
  z-index: 0;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  border-radius: 60px; 
  z-index: -1; 
}

.card h2{
  font-family: "Montserrat-SemiBold";
  font-size: 30px;
  text-align: center;
}
.card p{
  font-family: "Montserrat-Regular";
  font-size: 22px;
}
.card p strong{
  font-family: "Montserrat-SemiBold";
}
.race-image{
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}