@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
}

header {
  background-color: #000000;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 3px solid var(--color-2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: +1000;
}

.logo img {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.referencies__intoPage {
  text-align: center;
}

.referencies__intoPage a {
  color: var(--color-3);
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat-SemiBold";
  margin: 10px;

}
.referencies__intoPage a:hover {
  color: var(--color-2);
}
.info__Section{
  background: #ebebe6;
  background-image: url(../assets/dyd__mainImage.jpg); 
  border-bottom-left-radius:30px ;
  border-bottom-right-radius:30px ;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  top: 70px;
  left: 0;
  z-index: 1;
}
.background-image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.main__content {
  position: relative;
  max-width: 1450px;
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  grid-template-areas: "main__content__left main__content__Right";
}


main{
  background: #000000;
}

.main__content__left {
  grid-area: main__content__left;
}
.main__content__left h1 {
  font-size: 55px;
  font-family: "Montserrat-SemiBold";
  color: #fff;
  margin: 20px;
}
.main__content__left p{
  font-size: 25px;
  font-family: "Montserrat-Medium";
  color: #fff;
  margin: 20px;
}
.main__content__Right {
  grid-area: main__content__Right;
}
.main__content__Right iframe{
  width: 600px;
  height: 400px;
  border-radius: 10px;
  z-index: +1000;
}

/*ENCUENTRA TUS AMIGOS EN LINEA PARA JUGAR D&D*/
.findFriends_toPlay {
  background-image: url(/assets/DYD_search_friends\ .jpg);
  background-size: cover;
  background-position: center;
  max-width: 1200px;
  width: 100%;
  height: 500px;
  display: flex;
  padding: 20px;
  border-radius: 20px;
  margin-top: 180px;
  margin-bottom: 80px;
}
.findFriends_toPlay__content {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  padding: 20px;

}
.findFriends_toPlay__content h2{
  font-size: 50px;
  font-family: "Montserrat-SemiBold";
  color: var(--color-3);
  text-align: center;
}
.findFriends_toPlay__content p{
  font-size: 20px;
  font-family: "Montserrat-Medium";
  color: var(--color-3);
}
.findFriends_toPlay__content a{
  font-size: 20px;
  font-family: "Montserrat-Medium";
  color: var(--color-3);
  text-decoration: none;
  max-width: 300px;
  width: 100%;
  height: 50px;
  background: linear-gradient(120deg , #592415e0 1%, #f60303 80%);
  border: 1px solid #f60303;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/*AREA DE INFORMACION AL RESPECTO DEL JUEGUITO */
.whatIsDD__Section {
  width: 100%;
  height: auto;
  margin-bottom: 55px;
  background-image:  url(../assets/DND_InfoAboutGame.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;


}
.whatIsDD__Section__content{
  display: flex;
}
.whatIsDD__content {
  max-width: 1000px;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  color: var(--color-3);
}
.whatIsDD__title{
  padding: 10px;
}
.whatIsDD__title h2{
  font-size: 50px;
  font-family: "Montserrat-SemiBold";
  color: var(--color-3);
  text-align: center;
  margin-bottom: 20px;

}
.whatIsDD__content p{
  font-size: 20px;
  font-family: "Montserrat-Medium";
  color: var(--color-3);
  text-align: justify;
  
  
}

.whatIsDD__image img{
  max-width: 800px;
  width: 100%;
  border-radius: 30px;

}



/*FOOTER CON REFERENCIAS A MIS PERFILES EN LAS REDES SOCIALES*/
footer {
  width: 100%;
  background-color: #4a4a4a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: white;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: +1;
}

.div__footer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.div__footer a,
.div__footer p {
  text-decoration: none;
  color: white;
  font-family: "Montserrat-SemiBold";
  font-size: 18px;
}

.div__footer a img {
  width: 30px;
  height: 30px;
}
/*AREA DE RESPONSIVE PARA TODO TIPO DE PANTALLAS*/
/* Breakpoint: pantallas grandes (desde 1200px en adelante) */
@media screen and (min-width: 1200px) {
  .main__content__left h1 {
    font-size: 60px;
  }

  .main__content__left p {
    font-size: 23px;
  }

  .main__content__Right iframe {
    width: 700px;
    height: 420px;
  }

  .findFriends_toPlay__content h2 {
    font-size: 48px;
  }

  .findFriends_toPlay__content p,
  .findFriends_toPlay__content a {
    font-size: 20px;
  }

  .whatIsDD__title h2 {
    font-size: 48px;
  }

  .whatIsDD__content p {
    font-size: 20px;
  }
}

/* Breakpoint: tablets grandes (992px a 1199px) */
@media screen and (max-width: 1199px) {
  .main__content__Right iframe {
    width: 600px;
    height: 300px;
  }

  .main__content__left h1 {
    font-size: 48px;
  }

  .main__content__left p {
    font-size: 22px;
  }

  .whatIsDD__image img {
    max-width: 90%;
    height: auto;
    object-fit: cover;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 20px;
  }
}

/* Breakpoint: tablets peque침as (768px a 991px) */
@media screen and (max-width: 991px) {
  header{
    padding: 20px;
    height: 120px;
  }
  .main__content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main__content__left"
      "main__content__Right";
    margin-top: 170px;
  }

  .main__content__Right iframe {
    height: 300px;
  }

  .findFriends_toPlay {
    width: 90%;
    flex-direction: column;
    height: auto;
  }

  .findFriends_toPlay__content {
    width: 100%;
  }
  .whatIsDD__Section{
    width: 95%;
  }
  .whatIsDD__Section__content {
    flex-direction: column;

  }

  .whatIsDD__image img {
    width: 100%;
  }
}

/* Breakpoint: m칩viles grandes (481px a 767px) */
@media screen and (max-width: 767px) {
  .main__content__left h1 {
    font-size: 36px;
  }

  .main__content__left p {
    font-size: 18px;
  }

  .main__content__Right iframe {
    height: 200px;
  }

  .findFriends_toPlay__content h2 {
    font-size: 28px;
  }

  .findFriends_toPlay__content p,
  .findFriends_toPlay__content a {
    font-size: 16px;
  }

  .whatIsDD__title h2 {
    font-size: 30px;
  }

  .whatIsDD__content p {
    font-size: 16px;
  }

  .logo img {
    width: 120px;
  }

  .referencies__intoPage a {
    font-size: 14px;
  }
}

/* Breakpoint: m칩viles peque침os (320px a 480px) */
@media screen and (max-width: 480px) {
  .main__content{
    margin-top: 100px;
  }
  .main__content__left h1 {
    font-size: 28px;
  }

  .main__content__left p {
    font-size: 16px;
  }

  .main__content__Right iframe {
    width: 350px;
    height: 180px;
  }
  .findFriends_toPlay{
    margin-top: 120px;
  }
  .findFriends_toPlay__content h2 {
    font-size: 24px;
  }

  .findFriends_toPlay__content p,
  .findFriends_toPlay__content a {
    font-size: 14px
  }
  .whatIsDD__Section{
    margin-bottom: 65px;
  }
  .whatIsDD__title h2 {
    font-size: 24px;
  }

  .whatIsDD__content p {
    font-size: 14px;
  }

  footer {
    padding: 20px 10px;
  }

  .div__footer {
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .div__footer a,
  .div__footer p {
    font-size: 14px;
  }

  .div__footer a img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 375px) {
  .main__content__left h1 {
    font-size: 24px;
  }

  .main__content__left p {
    font-size: 14px;
  }

  .main__content__Right iframe {
    margin-left: -7px;

    height: 160px;
  }

  .findFriends_toPlay__content h2 {
    font-size: 20px;
  }

  .findFriends_toPlay__content p,
  .findFriends_toPlay__content a {
    font-size: 13px;
  }
  
  .whatIsDD__title h2 {
    font-size: 20px;
  }

  .whatIsDD__content p {
    font-size: 13px;
  }
  .whatIsDD__Section{
    margin-bottom: 50px;
  }
  .logo img {
    width: 100px;
  }

  footer {
    padding: 15px 8px;
  }

  .div__footer {
    gap: 8px;
  }

  .div__footer a,
  .div__footer p {
    font-size: 13px;
  }

  .div__footer a img {
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 320px) {
  .main__content{
    margin-top: 30px;
  }
  .main__content__left h1 {
    font-size: 20px;
  }

  .main__content__left p {
    font-size: 13px;
  }

  .main__content__Right iframe {
    height: 140px;
  }
  .findFriends_toPlay{
    margin-top: 120px;
  }
  .findFriends_toPlay__content h2 {
    font-size: 18px;
  }

  .findFriends_toPlay__content p,
  .findFriends_toPlay__content a {
    font-size: 12px;
  }

  .whatIsDD__title h2 {
    font-size: 18px;
  }
  .whatIsDD__Section{
    margin-bottom: 60px;
  }
  .whatIsDD__content p {
    font-size: 12px;
  }

  .logo img {
    width: 90px;
  }

  footer {
    padding: 12px 6px;
  }

  .div__footer {
    gap: 6px;
    align-items: center;
    text-align: center;
  }

  .div__footer a,
  .div__footer p {
    font-size: 12px;
  }

  .div__footer a img {
    width: 16px;
    height: 16px;
  }
}
