@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
}

header {
  background-color: #e7e7db;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 3px solid var(--color-2);
  position: fixed;
  top: 0;
  left: 0;  
  z-index: +1000;
}

.logo img {
  width: 180px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.referencies__intoPage {
  text-align: center;
}

.referencies__intoPage a {
  color: var(--color-1);
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat-SemiBold";
  margin: 10px;

}
.referencies__intoPage a:hover {
  color: var(--color-2);
}
.info__Section{
  background: #ebebe6;
  background-image: url(../assets/dyd__mainImage.jpg); 
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  top: 100px;
  left: 0;
  z-index: 1;
}
.background-image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.main__content {
  position: relative;
  max-width: 1450px;
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  grid-template-areas: "main__content__left main__content__Right";
}

.main__content__left {
  grid-area: main__content__left;
}
.main__content__left h1 {
  font-size: 55px;
  font-family: "Montserrat-SemiBold";
  color: #fff;
  margin: 20px;
}
.main__content__left p{
  font-size: 25px;
  font-family: "Montserrat-Medium";
  color: #fff;
  margin: 20px;
}
.main__content__Right {
  grid-area: main__content__Right;
}
.main__content__Right iframe{
  width: 600px;
  height: 400px;
  border-radius: 10px;
  z-index: +1000;
}

/*ENCUENTRA TUS AMIGOS EN LINEA PARA JUGAR D&D*/
.findFriends_toPlay {
  background-image: url(/assets/DYD_search_friends\ .jpg);
  background-size: cover;
  background-position: center;
  max-width: 1200px;
  width: 100%;
  height: 500px;
  display: flex;
  padding: 20px;
  border-radius: 20px;
  margin-top: 180px;
  margin-bottom: 80px;
}
.findFriends_toPlay__content {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  padding: 20px;

}
.findFriends_toPlay__content h2{
  font-size: 50px;
  font-family: "Montserrat-SemiBold";
  color: var(--color-3);
  text-align: center;
}
.findFriends_toPlay__content p{
  font-size: 20px;
  font-family: "Montserrat-Medium";
  color: var(--color-3);
}
.findFriends_toPlay__content a{
  font-size: 20px;
  font-family: "Montserrat-Medium";
  color: var(--color-3);
  text-decoration: none;
  max-width: 300px;
  width: 100%;
  height: 50px;
  background: linear-gradient(120deg , #592415e0 1%, #f60303 80%);
  border: 1px solid #f60303;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/*AREA DE INFORMACION AL RESPECTO DEL JUEGUITO */
.whatIsDD__Section {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  background-image:  url(../assets/DND_InfoAboutGame.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 20px;

}
.whatIsDD__Section__content{
  display: flex;
}
.whatIsDD__content {
  max-width: 1000px;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  color: var(--color-3);
}
.whatIsDD__title{
  padding: 10px;
}
.whatIsDD__title h2{
  font-size: 50px;
  font-family: "Montserrat-SemiBold";
  color: var(--color-3);
  text-align: center;
  margin-bottom: 20px;

}
.whatIsDD__content p{
  font-size: 20px;
  font-family: "Montserrat-Medium";
  color: var(--color-3);
  text-align: justify;
  
  
}

.whatIsDD__image img{
  max-width: 800px;
  width: 100%;

}



/*FOOTER CON REFERENCIAS A MIS PERFILES EN LAS REDES SOCIALES*/
footer {
  width: 100%;
  background-color: #4a4a4a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: white;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: +1;
}

.div__footer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.div__footer a,
.div__footer p {
  text-decoration: none;
  color: white;
  font-family: "Montserrat-SemiBold";
  font-size: 18px;
}

.div__footer a img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .logo img {
    width: 140px;
    height: auto;
  }

  .referencies__intoPage a {
    font-size: 16px;
    margin: 5px;
  }

  .info__Section {
    height: auto;
    flex-direction: column;
    padding: 40px 20px;
  }

  .main__content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main__content__left"
      "main__content__Right";
    height: auto;
  }

  .main__content__left h1 {
    font-size: 36px;
    text-align: center;
  }

  .main__content__left p {
    font-size: 18px;
    text-align: center;
  }

  .main__content__Right iframe {
    width: 100%;
    height: 250px;
  }

  .findFriends_toPlay {
    flex-direction: column;
    height: auto;
  }

  .findFriends_toPlay__content {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .findFriends_toPlay__content h2 {
    font-size: 32px;
  }

  .findFriends_toPlay__content p,
  .findFriends_toPlay__content a {
    font-size: 16px;
  }

  .whatIsDD__Section__content {
    flex-direction: column;
  }

  .whatIsDD__image img {
    max-width: 100%;
    margin: 0 auto;
  }

  .whatIsDD__title h2 {
    font-size: 32px;
  }

  .whatIsDD__content p {
    font-size: 16px;
  }

  footer {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .div__footer {
    flex-direction: row;
    gap: 10px;
  }

  .div__footer a,
  .div__footer p {
    font-size: 16px;
  }

  .div__footer a img {
    width: 24px;
    height: 24px;
  }
}
